<div class="container about-section">
    <div class="row">
        <div class="col-lg-6">
            <h2>Acerca de Nosotros</h2>
            <p>Bienvenidos a <strong>Nuestra Florería</strong>, una empresa familiar con más de 20 años de experiencia en el arte floral. Fundada por los hermanos García en 2000, hemos estado creando hermosos arreglos florales y proporcionando flores frescas de la más alta calidad a nuestra comunidad desde entonces.</p>
            <p>Lo que comenzó como un pequeño negocio en el garaje de nuestra casa se ha convertido en una florería próspera, conocida por su atención al detalle y su compromiso con la satisfacción del cliente. Nos enorgullece ofrecer un servicio personalizado y crear arreglos florales que capturan la esencia de cada ocasión especial.</p>
            <p>En <strong>Nuestra Florería</strong>, valoramos la tradición y la innovación. Combinamos técnicas tradicionales con diseños modernos para ofrecer a nuestros clientes lo mejor de ambos mundos. Nuestra pasión por las flores y nuestro compromiso con la excelencia nos impulsan a seguir mejorando y creciendo cada día.</p>
            <p>Gracias por ser parte de nuestra historia y por permitirnos ser parte de sus momentos más importantes. Estamos aquí para ayudarle a celebrar la vida con flores.</p>
        </div>
        <div class="col-lg-6">
            <img src="assets/images/flores.png" alt="Foto de la familia" class="family-photo">
        </div>
    </div>
</div>

<div class="container">
    <h2>Donde puedes encontrarnos?</h2>
    <h3>Nos ubicamos muy cerca del centro en Avenida ....</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.574848638039!2d-102.29237112549464!3d21.873928958216126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee79d2ef98dd%3A0x8f4b2c7eb6fdc848!2sFloreria%20Dise%C3%B1os%20Florales!5e0!3m2!1ses-419!2smx!4v1716988089263!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

 <!-- Redes Sociales -->
 <div class="social-section">
    <div class="container">
        <h3>Síguenos en nuestras redes sociales</h3>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
