<!-- <div class="container">

    <div class="card-group parend" >
        <div class="card">
            <img src="assets/images/creadores/aaron.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Luis Aaron Lopez Ramirez</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/creadores/nadia.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ACOSTA MIRANDA NADIA MONTSERRAT</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/creadores/paula.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CRUZ LIRA PAULA MICHELLE</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/creadores/ana.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SÁNCHEZ GUTIÉRREZ ANA GABRIELA</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
  </div>
</div> -->

<!-- ------------------------- -->
<div class="contenedor">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front n1">
        <p class="title">FLIP CARD</p>
        <p>Hover Me</p>
      </div>
      <div class="flip-card-back">
        <p class="title">Luis Aaron Lopez Ramirez</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ipsum error repellendus facere asperiores a exercitationem, quasi mollitia et quod minus harum placeat ut animi id sit facilis iste nihil.</p>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
      </div>
    </div>
  </div>


  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front n2">
        <p class="title">FLIP CARD</p>
        <p>Hover Me</p>
      </div>
      <div class="flip-card-back">
        <p class="title">Gaby</p>
        <p>Hola! me llamo Gaby y soy estudiante de Ingeniería en Sistemas Computacionales. Dedico gran parte de mi tiempo al desarrollo de tecnologías web, desde páginas web informativas hasta sistemas empresariales basados en web, lo que me me ha hecho que desarrolle un gusto especial por esta área de la programación.</p>

        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front n3">
        <p class="title">FLIP CARD</p>
        <p>Hover Me</p>
      </div>
      <div class="flip-card-back">
        <p class="title"> Nadia </p>
        <p>¡Hola!, mi nombre es Nadia y actualmente estoy cursando la carrera de Ingeniería en Sistemas Computacionales. En este momento me encuentro inmersa en el estudio de Tecnologías Web, una asignatura que ha capturado completamente mi interés y se ha convertido en mi favorita.</p>

        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front n4">
        <p class="title">FLIP CARD</p>
        <p>Hover Me</p>
      </div>
      <div class="flip-card-back">
        <p class="title">Paula</p>
        <p>Hola, soy Paula y estudio ISC en la Universidad Autónoma de Aguascalientes. Usualmente suelo enfocarme más en back-end, pero con Angular disfruto mucho hacer front-end!</p>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
      </div>
    </div>
  </div>
  

</div>